/* Файл variables.less */
/* Файл scaffolding.less */

@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans Narrow'), local('PTSans-Narrow'),
		url('../fonts/pt-sans-narrow.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/pt-sans-narrow.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
		url('../fonts/pt-sans-narrow-bold.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/pt-sans-narrow-bold.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
/* Файл mixins.less */

/* Файл blocks/page-header.less */
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header__logo {
  height: 85px;
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
  }
}


/* Файл blocks/main-nav.less */

.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  /* Временно для сетки */
  min-height: 50px;
}

.site-list {
  /* Временно для сетки */
  min-height: 255px;
}


@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .site-list {
    width: 570px;

    /* Временно для сетки */
    min-height: 70px;
  }

  .user-list {
    width: 60px;
  }
}


@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

  .user-list {
    width: 160px;
  }
}


/* Файл blocks/stats.less */

.stats {
  width: 320px;
  margin: 0 auto;

  /* Временно для сетки */
  min-height: 570px;
}

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  /* Временно для сетки */
  min-height: 130px;
}

.stats__list {
  width: 100%;

  /* Временно для сетки*/
  height: 320px;
}

@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px;

    /* Временно для сетки */
    min-height: 0;
  }

  .stats__list {
    display: flex;
  }
}


@media (min-width: 1200px) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;

    /* Временно для сетки */
    min-height: 263px;
  }

  .stats__list {
    width: 640px;
  }
}
